---
import type { ComponentProps } from "astro/types";

import Head from "./Head.astro";

interface Props {
	/**
	 * Props forwarded directly to the Head component.
	 */
	head: ComponentProps<typeof Head>;
}

const { head } = Astro.props;
---

<!doctype html>
<html>
	<Head {...head}>
		<slot name="head" />
	</Head>
	<body>
		<slot name="body-start" />
		<slot />
		<slot name="body-end" />
	</body>
</html>
