---
import config from "virtual:eminence-astro-suite/config";

interface Props {
	/**
	 * The page-specific title text.
	 */
	value: string;
	/**
	 * Optional template string containing `%s` as a placeholder for the value.
	 * @default "%s"
	 * @example "%s | My Site"
	 */
	template?: TitleTemplate;
}

type TitleTemplate = `${string}%s${string}`;

const { value, template = config.titleTemplate ?? "%s" } = Astro.props;
---

<title>{template.replace("%s", value)}</title>
